<h1 [ngStyle]="{'color':'orange'}">Mini Games</h1>
<hr>

<main>
    <div>
        <h2><u>10 Seconds on the Dot</u></h2>
        <p>The game will start as soon as you click on START. The point of the game is you want to click on STOP once it hits 10 seconds. 
            No numbers will be display once you click START, but once you click STOP the second you land on will be displayed. If you click on
            10 seconds you will be allowed to move on to the next level and if you don't the game will ask you to try again. Enjoy.
        </p>

        <button type="button" id="green" (click)="start()" [disabled]="number > 1">START</button>
        <button type="button" id="red" (click)="stop()">STOP</button>
        <p (click)="stop()">Your time was {{number}}</p>

        <h3 *ngIf="number === 10">Your won, Click the the button to continue</h3>
        <button type="button" *ngIf="number === 10">Next Level</button>

        <h3 *ngIf="number != 10">You Lose, Sorry Try Again</h3>
        <button type="button" *ngIf="number != 10">Try Again</button>

    </div>


    

</main>

